
@media (max-width: 1224px) {

    .all_product .card p{
        font-size: 16px;
    }
    .all_product .card h2{
        font-size: 25px;
    }
    .all_product .card .status{
        font-size: 13px;
        margin: 20px 0 10px;
    }
    .all_product .card .price{
        font-size: 20px;
    }
    .all_product .card button {
        font-size: 22px;
        padding: 16px 38px;
    }
    .all_product .card .text p{
        max-height:4.9em;

    }
}
@media (max-width: 1170px) {

}
@media (max-width: 1170px) {

    .all_product .card img{
        height: 100%;
    }
    .all_product .card .text{
        height: 100%;

    }

    .border_container{
        display: block;

    }
    .all_product .card .status{
        margin-top: 100px;
    }
}
@media (max-width: 1090px){
    .all_product .card .price{
        font-size: 16px;
    }
    .all_product .card button {
        font-size: 20px;
        padding: 16px 30px;
    }
    .all_product .card .text{
        padding: 20px 30px;
    }
    .all_product .card{
        display: grid;
        grid-template-columns: 1fr;
    }
    .all_product .cardList {
        padding: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .all_product .card img{
        border-radius: 15px   15px 0 0  ;
    }
    .all_product .card .text{
        border-radius: 0 0 15px 15px ;
    }
    .all_product .card p{
        height: 120px;
    }
    .all_product .card .status{
        margin-top: 0;
    }
}

@media (max-width: 1066px){
    .all_product .cardList {
        padding: 25px;

    }
}
@media (max-width: 1040px){
    .all_product .cardList {
        padding: 15px;

    }
}
@media (max-width: 995px){
    /*.all_product{*/
    /*    padding: 30px 40px;*/
    /*}*/
.all_product .cardList{
        display: grid;
        grid-template-columns: 1fr;
        /*padding: 30px 40px;*/
    }
}

@media (max-width: 660px){
    /*.all_product{*/
    /*    padding: 30px 20px;*/
    /*}*/
    .all_product .card .price{
        font-size: 20px;
    }
    .all_product .card .location{
        height: 1.8em;
        overflow: hidden;
        margin-bottom: 6px;
    }
}

@media (max-width: 544px){
    .all_product .card img{
        width: 100%;
    }
    .all_product .card .text{
        width: 100%;
    }
}
@media (max-width: 513px){
    .all_product .card .border_container{
        display: block;
    }
    .all_product .card .status{
        margin-top: 20px;
    }
    .all_product .card .button{
        display: block;
        margin-top: 30px;
        text-align: center;
    }
    .all_product .card button{
        padding: 20px 100px;
    }
    .all_product .card .text_border{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .all_product .card .border{
        font-size: 18px;
        padding: 10px 20px;
        margin: 0 10px;
        font-weight: 600;
        font-family: "Inter" , sans-serif;
    }
    .all_product .card .price span{
        padding: 0;
    }
}
@media (max-width: 503px){
    .all_product .card button{
        padding: 20px 30px;
    }
    .all_product .card .status{
        margin: 0;
    }
    .all_product .card .text{
        padding: 20px 30px;
    }
    .all_product .card .border{
        font-size: 20px;
        padding: 7px 15px;
    }
    .all_product .card .text_border{
        text-align: center;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

}
