@media (max-width: 1744px) {
    .content_wrapper {
        padding: 5px 30px;
    }

    .nav .content_wrapper {
        padding: 10px 2%;

    }
}

@media (max-width: 1512px) {
    .contact {
        left: 20%;
        right: 20%;
    }

}

@media (max-width: 1382px) {
    .nav .img_logo img {
        margin: 0;
    }

    .nav .input_location input {
        width: 100%;
    }

    .nav .input_class input {
        width: 100%;
    }
}

@media (max-width: 1380px) {
    .commodity .cardList {
        grid-gap: 45px 30px;
    }
}

@media (max-width: 1366px) {
    .commodity .cardList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 45px 90px;
    }
}

@media (max-width: 1100px) {
    .contact {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 150px;
        margin: auto;
    }

    .contact .img_logo {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .contact .img_logo img {
        width: 81px;
        height: auto;
    }

    .contact .content_wrapper {
        padding: 35px 30%;
    }

    .contact .img {
        width: 75px;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    .contact h2 {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        padding-bottom: 20px;
    }

    .contact button:hover {
        background: #f5f414;

    }

    .contact button:active {
        background: #919012;
    }

    .contact .input p {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Inter';
    }

    .nav_mobile .content_wrapper {
        padding: 120px 90px;
    }

    .nav_mobile .sort ul li {
        font-size: 22px;
    }

    .nav_mobile button {
        font-size: 26px;
    }

    .nav_mobile {
        width: 71px;
        height: 100%;
    }

    .nav_mobile button {
        margin: 0;
        padding: 10px 35px;
    }

    .nav {
        box-shadow: -15px 10px 20px rgba(0, 0, 0, 0.32);
        position: sticky;
        z-index: 5;
        overflow: hidden;
    }

    .nav .menu_icon span {
        font-size: 25px;
    }

    .nav .img_logo img {
        width: 61px;
        height: 100%;
    }

    .nav .input_location {
        display: none;
    }

    .nav .input_class {
        display: none;
    }

    .nav .sort ul {
        display: none;
    }

    .nav .button {
        display: none;
    }

    .nav .content_wrapper {
        display: block;
    }

    .nav .menu_icon {
        display: block;
        font-size: 20px;
    }

    .nav .img_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media (max-width: 1030px) {
    .info_company .text {
        width: 100%;
    }
    .contact{
        padding: 130px 150px;
    }
    .contact .img_logo img {
        width: 61px;
        height: auto;
    }

}
@media (max-width: 980px){
    .commodity .cardList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 45px 30px;
        /*overflow: hidden;*/
    }
    .info_company .text{
        padding: 0;
    }
}
@media (max-width: 940px){
    .commodity .cardList {
        display: grid;
        grid-template-columns: auto;
    }
    .title_screen h1 {
        text-align: left;
    }

    .title_screen .img_trident {
        text-align: left;
    }
}
@media (max-width: 882px) {

    .commodity .cardList {
        display: grid;
        grid-template-columns: 1fr;
    }

    .title_screen {
        padding: 140px 0 121px;

    }

    .title_screen {
        background: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        position: relative;
    }

    .title_screen h1 {
        font-size: 28px;
        width: 100%;
        line-height: 29px;
        text-align: center;
        padding: 0;
    }

    .title_screen .img_trident {
        display: flex;
        flex-direction: column-reverse;
        font-size: 15px;
        line-height: 16px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .title_screen .img_trident p {
        padding: 30px 0 10px;
        font-size: 18px;

    }

    .title_screen .img_trident img {
        width: 30px;
        height: auto;
        margin-right: 0;
        text-align: center;
    }

    .title_screen .button {
        text-align: center;
        padding-top: 147px;
    }

    .title_screen button {
        font-size: 20px;
        padding: 12px 22px;
        margin-top: 0;
        font-weight: 600;
    }

    .footer .content_wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .form_contact input, textarea {
        width: 50%;
    }

    .form_contact button {
        margin-top: 40px;
    }

    .form_contact .hr_end {
        display: block;
        background: rgba(255, 255, 255, 0.13);
        height: 2px;
        margin: 10px 0;
    }


    .info_contact {
        text-align: center;
    }

    .info_contact img {
        width: 80px;
        height: 80px;
    }

    .info_contact h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .info_contact ul {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
        font-size: 14px;
    }


}

@media (max-width: 778px) {
    .contact {
        padding: 130px 120px;
    }
    .contact_input_2 {
        font-size: 16px;

    }
    .info_company .text p {
        font-size: 20px;
        line-height: 21px;
    }

    .info_company .title h3 {
        font-size: 28px;
    }

    .nav .menu_icon span {
        font-size: 24px;
    }

    .contact h2 {
        font-size: 24px;
        padding: 0;
    }

    .contact .img {
        width: 60px;
    }

    .contact .contact_input form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .contact .input p {
        font-size: 16px;
    }

    .contact .contact_input_2 textarea {
        font-size: 16px;
        margin-top: 20px;
    }

    .contact button {
        font-size: 18px;
        width: 100%;
    }

    .nav_mobile button {
        font-size: 26px;
    }
}

@media (max-width: 580px) {
    .contact {
        padding: 130px 100px;
    }
    .nav_mobile .info_mobile .hr {
        margin: 35px 0;
    }

    .nav_mobile .info_con_mob h3 {
        font-size: 26px;
    }

    .nav_mobile .info_con_mob li {
        font-size: 14px;
    }

    .nav_mobile .input .icon {
        font-size: 16px;
    }

    .nav .input img, .nav_mobile .input img {
        width: 30px;
        height: auto;
    }

    .nav_mobile input {
        font-size: 18px;
    }

    .nav_mobile .sort ul li {
        font-size: 20px;
        padding: 13px 11px 13px 8px;
    }

    .nav_mobile button {
        font-size: 22px;
    }

    .info_company .text p {
        font-size: 15px;
        line-height: 16px;
    }

    .contact h2 {
        font-size: 18px;
        padding: 0;
    }

    .contact button {
        font-size: 14px;
    }

}

@media (max-width: 500px) {

    .nav_mobile button {
        font-size: 18px;
    }

    .nav_mobile .sort ul li {
        font-size: 16px;
        padding: 9px 7px 9px 4px;

    }

    .nav_mobile input {
        font-size: 16px;
    }

    .nav_mobile .input .icon {
        margin: 0 5px;
    }
}

@media (max-width: 484px) {
    .contact {
        padding: 130px 80px;
    }
    .contact .content_wrapper {
        padding: 35px 15%;
    }
}

@media (max-width: 452px) {
    .nav_mobile .content_wrapper {
        padding: 120px 40px;
    }

    .nav_mobile .img_logo img {
        width: 61px;
        height: auto;
    }

    .nav_mobile button {
        font-size: 16px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }

    .nav_mobile .sort ul li {
        padding: 5px 3px 5px 5px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }

    .info_company .text p {
        font-size: 10px;
        line-height: 11px;
    }

    .nav .sort ul {
        display: none;
    }

    .commodity .card .description p {
        height: 3.3em;
    }

    .nav .img_logo img {
        width: 40px;
        height: auto;
        margin-right: 0;
    }

    .nav .input {
        display: none;
    }

    .nav button {
        display: none;
    }

    .title_screen_container {
        width: 300px;
        margin: auto;
    }

    .title_screen {
        padding: 140px 0 121px;
    }

    .title_screen {
        background: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        position: relative;
    }

    .title_screen h1 {
        font-size: 18px;
        width: 100%;
        line-height: 19px;
        text-align: center;
        padding: 0;
    }

    .title_screen .img_trident {
        display: flex;
        flex-direction: column-reverse;
        font-size: 15px;
        line-height: 16px;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .title_screen .img_trident p {
        padding: 30px 0 10px;
    }

    .title_screen .img_trident img {
        width: 30px;
        height: auto;
        margin-right: 0;
        text-align: center;
    }

    .title_screen .button {
        text-align: center;
        padding-top: 147px;
    }

    .title_screen button {
        font-size: 15px;
        padding: 12px 22px;
        margin-top: 0;
        font-weight: 600;
    }


    .commodity_container {
        width: 300px;
        margin: auto;
    }

    .commodity .cardList {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 30px 0;
    }

    .commodity .card img {
        width: 100%;
        height: auto;
    }

    .commodity .card .img {
        width: 100%;
        height: 225px;
    }

    .commodity .card .text {
        padding: 13px;
        width: 100%;
    }

    .commodity .card h2 {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .commodity .card .location img {
        width: 9px;
        height: auto;
    }

    .commodity .card .location {
        font-size: 11px;
        height: 1.3em;

    }

    .commodity .card .description p {
        font-size: 12px;
        line-height: 13px;
    }

    .commodity .card .text_border {
        width: 100px;
    }

    .commodity .card .border_container {
        display: flex;
        justify-content: space-between;
    }

    .commodity .card .border {
        border-radius: 5px;
        border: 2px solid #B4D2FF;
        padding: 10px 15px 10px 12px;
        text-transform: uppercase;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        display: inline-block;
    }

    .commodity .card .status {
        font-size: 10px;
        margin: 15px 0 10px;
        padding: 4px 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.75);
    }

    .commodity .card .price {
        font-size: 15px;
        padding: 8px 15px 7px;

    }

    .commodity .card button {
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .commodity .card .button {
        display: flex;
        align-items: end;
    }

    .info_company .text {
        width: 100%;
    }

    .info_company .text h3 {
        font-weight: 500;
        font-size: 25px;
        padding-bottom: 15px;
    }

    .info_company .text p {
        color: #1a202c;
        font-size: 14px;
        line-height: 16px;
    }

    .info_company .icon {
        display: flex;
        font-size: 20px;
        color: rgba(101, 101, 102, 1);
        text-align: center;
        align-items: center;
    }

    .info_company .text .language {
        margin-top: 35px;
        font-size: 14px;
    }

    .footer .content_wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .form_contact input, textarea {
        width: 50%;
    }

    .form_contact button {
        margin-top: 40px;
    }

    .form_contact .hr_end {
        display: block;
        background: rgba(255, 255, 255, 0.13);
        width: 100%;
        height: 2px;
        margin: 10px 0;
    }


    .info_contact {
        text-align: center;
    }

    .info_contact img {
        width: 80px;
        height: 80px;
    }

    .info_contact h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .info_contact ul {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
        font-size: 14px;
    }
}

@media (max-width: 365px) {

    .contact {
        padding: 130px 60px;
    }
    .nav_mobile button {
        font-size: 14px;
    }

    .nav_mobile .sort ul li {
        padding: 10px 3px 5px 5px;
        font-size: 16px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }

    .nav_mobile .info_con_mob h3 {
        font-size: 20px;
    }

    .nav_mobile .info_con_mob li {
        font-size: 12px;
    }

    .contact .img {
        width: 55px;
    }

    .contact button {
        padding: 20px 0;
    }

    .nav .content_wrapper {
        display: block;
    }

    .nav .menu_icon {
        display: block;
        font-size: 20px;
    }

    .nav .img_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav .img_logo img {
        width: 40px;
        height: auto;
        margin-right: 0;
    }

    .nav .input {
        display: none;
    }

    .nav ul {
        display: none;
    }

    .nav button {
        display: none;
    }

    .title_screen {
        padding: 120px 0 120px;

    }

    .title_screen {
        background: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        background-size: 60%;
    }

    .title_screen h1 {
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        padding: 0;
    }

    .title_screen .img_trident {
        display: flex;
        flex-direction: column-reverse;
        font-size: 12px;
        line-height: 16px;
        align-items: center;
    }

    .title_screen .img_trident p {
        padding: 50px 0 10px;
    }

    .title_screen .img_trident img {
        width: 30px;
        height: auto;
        margin-right: 0;
        text-align: center;
    }

    .title_screen .button {
        text-align: center;
        padding-top: 147px;
    }

    .title_screen button {
        font-size: 15px;
        padding: 12px 22px;
        margin-top: 0;
        font-weight: 600;
    }

    .commodity .cardList {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin: 30px 0;
    }


    .commodity .card .img {
        width: 100%;
        height: 179px;
    }

    .commodity .card .text {
        padding: 13px;
        width: 100%;
    }

    .commodity .card h2 {
        font-size: 15px;
    }

    .commodity .card .location img {
        width: 9px;
        height: auto;
    }

    .commodity .card .location {
        font-size: 9px;
    }

    .commodity .card .description p {
        font-size: 11px;
        line-height: 13px;
    }

    .commodity .card .text_border {
        width: 100px;
    }

    .commodity .card .border_container {
        display: flex;
        justify-content: space-between;
    }

    .commodity .card .border {
        border-radius: 5px;
        border: 2px solid #B4D2FF;
        padding: 5px 10px 5px 6px;
        text-transform: uppercase;
        display: inline-block;
    }

    .commodity .card .status {
        font-size: 10px;
        margin: 10px 0 5px;
        padding: 2px 7px;
    }

    .commodity .card .price {
        font-size: 10px;
        padding: 6px 13px 3px;
    }

    .commodity .card button {
        border: none;
        font-size: 12px;
        padding: 8px 18px;
        border-radius: 8px;
        font-weight: 600;
    }

    .commodity .card .button {
        display: flex;
        align-items: end;
    }


    .info_company {
        padding: 35px 0 15px;
    }

    .info_company .text h3 {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .info_company .text p {
        color: #1a202c;
        font-size: 14px;
        line-height: 16px;
    }

    .info_company .icon {
        display: flex;
        font-size: 20px;
        color: rgba(101, 101, 102, 1);
        text-align: center;
        align-items: center;
    }

    .info_company .text .language {
        margin-top: 35px;
        font-size: 14px;
    }

    .footer .content_wrapper {
        display: flex;
        flex-direction: column-reverse;
    }


    .form_contact button {
        margin-top: 40px;
    }

    .form_contact .hr_end {
        display: block;
        background: rgba(255, 255, 255, 0.13);
        width: 100%;
        height: 2px;
        margin: 20px 0;
    }

    .info_contact {
        text-align: center;
    }

    .info_contact img {
        width: 80px;
        height: 80px;
    }

    .info_contact h3 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .info_contact ul {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
        font-size: 14px;
    }
}



