@media (max-width: 1364px){
    .app_products .cardList{
        grid-gap: 0 60px;
    }
}
@media (max-width: 1320px){
    .app_products .cardList{
        grid-gap: 0 40px;
    }
}
@media (max-width: 1257px){
    .mobile_order{
        padding: 200px 40px;
        text-align: center;
    }
    .input_order p{
        font-size: 24px;
        text-align: left;
    }
    .content ul{
        display: none;
    }
    .content .product p{
        max-height: 7.2em;

    }
    .content .product p:hover{
        max-height: 20.5em;
        height: auto;
        width: 100%;
    }
    .content .product .text{
       grid-column: span 2;
    }
    .content .product .all_img{
        grid-column: span 2;
    }

    .content .product .border_container{
        display: none;
    }

    .content .product .mobile{
        display: block;
        width: 100%;
        margin-right: 90px;
    }
    .content .product .mobile .status{
        font-size: 20px;
    }
    .content .product .mobile .price{
        font-size: 26px;
        padding: 10px 35px;
        margin: 10px 0;
    }
    .content .product .button{
        text-align: left;
    }

    .content .product button{
        margin-top: 20%;
        font-size: 30px;
        padding: 25px 60px;
    }
    .content .product {
        grid-gap: 40px 0;
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .content .product .status{
        margin-top: 0;
    }


}
@media (max-width: 800px){
    .content .product .location{
        height: 1.8em;
        overflow: hidden;
        margin-bottom: 6px;
    }
}
@media (max-width: 785px) {
    .mobile_order .input_order h2{
        font-size: 30px;
        padding-bottom: 50px;
        text-align: center;
    }
    .mobile_order .input_order p{
        font-size: 20px;
    }
    .mobile_order .check_list{
        font-size: 18px;
    }
    .mobile_order button{
        font-size: 20px;
        padding: 15px 20px;
    }
    .content .product h2{
        padding-top: 10px;
    }
    .content .product .mobile .status{
        font-size: 16px;
    }
    .content .product .mobile .price{
        font-size: 20px;
    }
    .content .product iframe{
        height: 220px;
        width: 100%;
    }
    .content .product button{
        margin-top: 10%;
        font-size: 25px;
        padding: 20px 50px;
    }
    .content .product p{
        height: 6.2em;
        overflow: hidden;

    }
    .content .product p:hover{
        max-height: 20.5em;
        height: auto;
        width: 100%;
    }
    .content .product .fake{
        height: 110px;
    }

}
@media (max-width: 702px) {
    .content .product iframe {
        height: 180px;
        width: 100%;
    }
    .content .product .all_img{
        display: flex;
        flex-direction: column-reverse;
    }
    .content .product .slider_img{
        display: flex;
        flex-direction: row;
        grid-gap: 0 15px;
    }
    .content .product .title_img{
        padding: 0 0 20px 0;
    }
    .content .product button{
        margin-top: 10%;
        font-size: 18px;
        padding: 15px 45px;

    }
    .content .product .mobile .status{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .content .product .mobile .price{
        font-size: 18px;
        margin: 0;
    }

}
@media (max-width: 653px ) {
    .content .product {
        grid-gap: 40px 0;
        display: block;
    }
    .location_map{
        display: none;
    }
    .content .product .text_border{
        width: 100%;
        align-items: center;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 10px;
    }
    .content .product .mobile .border {
        font-size: 25px;
        padding: 15px 25px;
        margin: auto;

    }
    .content .product .mobile .button{
        text-align: center;
    }
    .content .product .mobile button{
        width: 90%;
        font-size: 30px;
    }
    .content .product p:hover{
        max-height: 30.2em;
        height: auto;
        width: 100%;
    }
    .content .product p{
        font-size: 18px;
        line-height: 19px;
    }

}
@media (max-width: 500px){
    .mobile_order .input_order h2{
        font-size: 20px;
    }
    .mobile_order{
        padding: 90px 40px;
    }
    .mobile_order .input_order .flex{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mobile_order .input_order .hr{
        width: 100%;
    }
}
@media (max-width: 474px) {
    .content .product .mobile .border{
        font-size: 18px;
        padding: 10px 20px;
    }
    .content .product .mobile button{
        font-size: 20px;
    }
    .content .product h2{
        font-size: 25px;
    }
    .content .product .location{
        font-size: 15px;
        height: 2em;
        padding: 12px 0 8px
    }
    .content .product p{
        font-size: 16px;
        line-height: 17px;
    }

}
@media (max-width: 434px) {
    .mobile_order .check_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
    .mobile_order .check_list label{
        justify-content: space-between;
    }
    .mobile_order{
        padding: 50px 40px;
    }
}
@media (max-width: 396px) {
    .content .product .text_border{
        display: flex;
        flex-direction: column;
        grid-gap: 10px 0;
    }
    .content .product .mobile .border{
        font-size: 16px;
        padding: 8px 18px;
    }
    .content .product .mobile .price{
        font-size: 18px;
        padding: 10px 20px;
    }
    .content .product p{
        font-size: 15px;
        line-height: 16px;
    }
    .content .product p:hover{
        max-height: 40.5em;
        height: auto;
        width: 100%;
    }
}
@media (max-width: 360px) {
    .mobile_order{
        padding: 100px 0;
    }
    .mobile_order .input_order h2{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .mobile_order .input_order p{
        font-size: 15px;
    }
    .mobile_order button{
        font-size: 15px;
    }
    .mobile_order .check_list h3{
        font-size: 18px;
    }
}
