
@media (max-width: 1492px){
    .app_products .cardList{
        grid-gap: 0 40px;
    }
    .app_products .card button {
        font-size: 18px;
        padding: 15px 25px;
        font-family: "Inter" , sans-serif;
    }
}
@media (max-width: 1364px){
    .app_products .cardList{
        grid-gap: 0 20px;
    }
    .content_wrapper .cardList{
        padding: 5px 0;
    }
    .app_products .card button {
        font-size: 16px;
        padding: 13px 23px;
        font-family: "Inter" , sans-serif;
    }
    .commodity .card .status {
        font-size: 16px;
        margin: 20px 0 8px;
        padding: 5px 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.75);
    }

    .commodity .card .price {
        font-size: 20px;
        font-weight: 600;
        padding: 13px 25px 10px;

    }
}
@media (max-width: 1257px){

    .app_products .cardList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 50px;
        margin: 30px 0;
    }
    .nav .content_wrapper{
        padding: 10px 4%;

    }
    .input_order p{
        font-size: 24px;
        text-align: left;
    }
    .content ul{
        display: none;
    }
    .content .product p{
        max-height: 7.2em;

    }
    .content .product p:hover{
        max-height: 20.5em;
        height: auto;
        width: 100%;
    }
    .content .product .text{
       grid-column: span 2;
    }
    .content .product .all_img{
        grid-column: span 2;
    }

    .content .product .border_container{
        display: none;
    }

    .content .product .mobile{
        display: block;
        width: 100%;
        margin:30px  90px  0 0;
    }
    .content .product .mobile .status{
        font-size: 20px;
    }
    .content .product .mobile .price{
        font-size: 26px;
        padding: 10px 35px;
        /*margin: 10px 0;*/
    }
    .content .product .button{
        text-align: left;
    }

    .content .product button{
        margin-top: 20%;
        font-size: 30px;
        padding: 25px 60px;
    }
    .content .product {
        grid-gap: 40px 0;
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .content .product .status{
        margin-top: 0;
    }


}
@media (max-width: 1100px){

    .app_products .cardList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin: 30px;
    }
    .order{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 150px;
        text-align: center;
        font-family: "Inter" , sans-serif;
        position: fixed;
        z-index: 3;
        background: white;
    }
    .order button:hover {
        background: #f5f414;
    }
    .order button:active {
        background: #919012;
    }
    .order .img_logo{
        display: block;
    }
    .order .img_logo img{
        width: 150px;
        height: auto;
        padding: 30px;
    }
}
@media (max-width: 990px){
    .app_products .cardList{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 90px;
    }
}
@media (max-width: 800px){
    .app_products .cardList{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 60px;
    }
    .order{
        padding: 150px 100px;
    }
    .content .product .location{
        height: 1.8em;
        overflow: hidden;
        margin-bottom: 6px;
    }
}
@media (max-width: 785px) {
    .app_products .cardList{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 40px;
    }
    .order .input_order h2{
        font-size: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .order .input_order p{
        font-size: 20px;
    }
    .order .check_list{
        font-size: 18px;
    }
    .order button{
        font-size: 20px;
        padding: 15px 20px;
    }
    .content .product h2{
        padding-top: 10px;
    }
    .content .product  .status{
        font-size: 16px;
    }
    .content .product  .price{
        font-size: 20px;
    }
    .content .product .location_map{
        margin-top: 15%;
    }
    .content .product iframe{
        height: 220px;
        width: 100%;
    }
    .content .product button{
        margin-top: 10%;
        font-size: 25px;
        padding: 20px 50px;
    }
    .content .product .description p{
        height: 6.2em;
        overflow: hidden;

    }
    .content .product .fake p:hover{
        max-height: 20.5em;
        height: auto;
        width: 100%;
    }
    .content .product .fake{
        height: 110px;
    }

}
@media (max-width: 916px) {
    .nav .content_wrapper{
        padding: 10px 6%;

    }
}
@media (max-width: 702px) {
    .order{
        padding: 70px;
    }
    .nav .content_wrapper{
        padding: 10px 7%;

    }
    .content .product iframe {
        height: 180px;
        width: 100%;
    }
    .content .product .all_img{
        display: flex;
        flex-direction: column-reverse;
    }
    .content .product .slider_img{
        display: flex;
        flex-direction: row;
        grid-gap: 0 15px;
    }
    .content .product .title_img{
        padding: 0 0 20px 0;
    }
    .content .product button{
        margin-top: 10%;
        font-size: 18px;
        padding: 15px 45px;

    }
    .content .product .status{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .content .product .price{
        font-size: 18px;
        margin: 0;
    }

}
@media (max-width: 653px ) {

    .content .content_wrapper{
        padding: 30px 25px;
    }
    .order{
        padding: 100px 50px;
    }

    .nav .img_logo img {
        width: 61px;
        height: 72px;
        margin-right: 65px;
    }
    .content .product {
        grid-gap: 40px 0;
        display: block;
    }
    .location_map{
        display: none;
    }
    .content .product .text_border{
        width: 100%;
        align-items: center;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 10px;
    }
    .content .product .border {
        font-size: 25px;
        padding: 15px 40px;
        margin: auto;

    }
    .content .product.button{
        text-align: center;
    }
    .content .product button{
        width: 100%;
        font-size: 30px;
    }
    .content .product p:hover{
        max-height: 30.2em;
        height: auto;
        width: 100%;
        top: 45px;
    }
    .content .product p{
        font-size: 18px;
        line-height: 19px;
    }

}
@media (max-width: 500px){
    .app_products .cardList{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin: 20px;
    }
    .content .product .border{
        font-size: 20px;
        padding: 10px 15px;
    }
    .content .product .mobile .price{
        font-size: 22px;
        padding: 10px 25px;
    }
    .nav .content_wrapper{
        padding: 10px 10%;

    }
    .order .input_order h2{
        font-size: 20px;
    }
    .order{
        padding: 40px 40px;
    }
    .order .input_order .flex{
        display: grid;
        grid-template-columns: 1fr;
    }
    .order .input_order .hr{
        width: 100%;
    }
}
@media (max-width: 474px) {
    .app_products .card img {
        overflow: hidden;
        height: 100%;
    }

    .app_products .card .img {
        width: 100%;
        height: 225px;
        overflow: hidden;

    }

    .app_products .card .text {
        padding: 13px;
        width: 100%;
    }

    .app_products .card h2 {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .app_products.card .location img {
        width: 9px;
        height: auto;
    }

    .app_products.card .location {
        font-size: 11px;
        height: 1.3em;

    }

    .app_products .card .description p {
        font-size: 12px;
        line-height: 13px;
    }

    .app_products .card .text_border {
        width: 100px;
    }

    .app_products .card .border_container {
        display: flex;
        justify-content: space-between;
    }

    .app_products .card .border {
        border-radius: 5px;
        border: 2px solid #B4D2FF;
        padding: 10px 15px 10px 12px;
        text-transform: uppercase;
        /*display: flex;*/
        /*flex-wrap: wrap;*/
        display: inline-block;
    }

    .app_products.card .status {
        font-size: 10px;
        margin: 15px 0 10px;
        padding: 4px 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.75);
    }

    .app_products.card .price {
        font-size: 15px;
        padding: 8px 15px 7px;

    }

    .app_products .card button {
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .app_products .card .button {
        display: flex;
        align-items: end;
    }

    .nav .content_wrapper{
        padding: 10px 13%;

    }
    .nav .img_logo img {
        width: 51px;
        height: 62px;
        margin-right: 65px;
    }
    .content .product .border{
        font-size: 18px;
        padding: 10px 20px;
    }
    .content .product button{
        font-size: 20px;
    }
    .content .product h2{
        font-size: 25px;
    }
    .content .product .location{
        font-size: 15px;
        height: 2em;
        padding: 12px 0 8px
    }
    .content .product p{
        font-size: 16px;
        line-height: 17px;
    }

}
@media (max-width: 434px) {
    .order .check_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px 0;
    }
    .morder .check_list label{
        justify-content: space-between;
    }
    .order{
        padding: 50px 40px;
    }
}
@media (max-width: 396px) {
    .app_products .card .img {
        width: 100%;
        height: 179px;
    }

    .app_products  .card .text {
        padding: 13px;
        width: 100%;
    }

    .app_products  .card h2 {
        font-size: 15px;
    }

    .app_products  .card .location img {
        width: 9px;
        height: auto;
    }

    .app_products  .card .location {
        font-size: 9px;
    }

    .app_products  .card .description p {
        font-size: 11px;
        line-height: 13px;
    }

    .app_products  .card .text_border {
        width: 100px;
    }

    .app_products  .card .border_container {
        display: flex;
        justify-content: space-between;
    }

    .app_products  .card .border {
        border-radius: 5px;
        border: 2px solid #B4D2FF;
        padding: 5px 10px 5px 6px;
        text-transform: uppercase;
        display: inline-block;
    }

    .app_products  .card .status {
        font-size: 10px;
        margin: 10px 0 5px;
        padding: 2px 7px;
    }

    .app_products .card .price {
        font-size: 10px;
        padding: 6px 13px 3px;
    }

    .app_products  .card button {
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: 600;
    }

    .app_products  .card .button {
        display: flex;
        align-items: end;
    }
    .content{
        margin: 0 20px;
    }
    .content .product .mobile .status{
        font-size: 15px;
        padding: 6px 10px;
    }
    .content .product .mobile .price{
        font-size: 17px;
        padding: 6px 20px;
    }
    .content .product p{
        font-size: 15px;
        line-height: 16px;
    }
    .content .product p:hover{
        max-height: 40.5em;
        height: auto;
        width: 100%;
    }
}
@media (max-width: 360px) {
    .app_products .content_wrapper{
        padding: 0 1%;
    }
    .order{
        padding: 100px 0;
    }
    .order .input_order h2{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .order .input_order p{
        font-size: 13px;
    }
    .order button{
        font-size: 15px;
    }
    .order .check_list h3{
        font-size: 18px;
    }
}
