.img {
    overflow: visible;
}
.none{
    opacity: 0;
}
.content_wrapper {
    margin: auto;
    width: 100%;
    padding: 0 40px;
    position: relative;
}

.content {
    margin: 0 40px;
}

.content .content_wrapper {
    background: rgba(217, 219, 219, 0.25);
    padding: 50px 30px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    margin: 40px auto;

}

.content .all_img {
    display: grid;
    grid-template-columns: auto 1fr;
}

.content .slider_img {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    grid-gap: 10px;
}

.content .slider_img .img {
    grid-gap: 15px 0;
    max-width: 180px;
    width: 20vw;
    max-height: 150px;
    height: 16.6vw;
}

.content .title_img {
    width: 100%;
    max-height: 645px;
    height: calc(4 * 16.6vw + 3 * 15px);
    padding-left: 20px;

}

.content .product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px 35px;
    position: relative;

}

.content .product h2 {
    font-size: 32px;
    font-weight: 600;
}

.content .product .location {
    color: rgba(61, 0, 197, 0.71);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto 0;
    padding: 15px 0 10px;
}

.content .product .location img {
    width: 14px;
    height: auto;
}

.content .product .text {
    position: relative;
}

.content .product p {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    margin-top: 10px;
    /*overflow: hidden;*/
    transition-duration: 0.5s;


}

.content .product .fake {
    height: 190px;
    display: block;
}

.content .product p{
    max-height:8.4em;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

/*.content .product p:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 5em;*/
/*    !*backdrop-filter: blur(3px);*!*/
/*}*/

.content .product .text_border {
    width: 200px;
}

.content .product .border {
    border-radius: 5px;
    padding: 10px 15px 10px 12px;
    text-transform: uppercase;
    display: inline-block;
    border: 3px solid #B4D2FF;


}

.content .product .status {
    font-size: 18px;
    margin: 30px 0 15px;
    padding: 8px 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 3px solid #B4D2FF;

}

.content .product .price{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 25px 7px;

}

.content .product .button {
    text-align: center;
}

.content .product button {
    border: none;
    background: rgba(180, 210, 255, 0.75);
    font-size: 35px;
    padding: 30px 70px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 120px;
    transition-duration: 0.5s;
}

.content .product button:hover {
    background: #f5f414;
}

.content .product button:active {
    background: #919012;
}

.content .categories {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 40px;
}

.content .product ul {
    grid-gap: 15px 10px;
}

.content .product li {
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #B4D2FF;
    display: inline-block;
    margin: 10px 6px;
    padding: 5px 10px;
    transition-duration: 0.5s;
}

.content .product li:hover {
    background: white;
}

.content .product iframe {
    width: 100%;
    height: 300px;
}

.content .product .mobile {
    display: none;
}

.app_products .content_wrapper {
    padding: 0 40px;
}

.app_products .cardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px 80px;
    margin: 50px 0;
    font-family: 'Gothic A1', sans-serif;
}

.app_products .card img {
    width: 100%;
    height: 360px;
    border-radius: 15px 15px 0 0;
}


.app_products .card .text {
    background: rgba(217, 219, 219, 0.25);
    padding: 30px 20px;
    width: 100%;
    border-radius: 0 0 15px 15px ;
    overflow: hidden;

}

.app_products .card h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.app_products .card .location img {
    width: 13px;
    height: auto;
}

.app_products .card .location {
    color: rgba(61, 0, 197, 0.71);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto 0;
    height: 1em;
    overflow: hidden;
    margin: 10px 0 15px;
    font-family: "Inter" , sans-serif;
}


.app_products .card .description p {
    font-size: 16px;
    font-family: "Inter" , sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 17px;
    height: 3em;
    overflow: hidden;
}

.app_products .card .text_border {
    width: 200px;
}

.app_products .card .border_container {
    display: flex;
    justify-content: space-between;
}

.app_products .card .border {
    border-radius: 5px;
    border: 3px solid #B4D2FF;
    padding: 10px 15px 10px 12px;
    text-transform: uppercase;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    display: inline-block;
}

.app_products .card .status {
    font-size: 12px;
    margin: 20px 0 10px;
    padding: 6px 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.app_products .card .price {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 25px 7px;

}

.app_products .card button {
    border: none;
    background: rgba(180, 210, 255, 0.75);
    font-size: 20px;
    padding: 17px 27px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 600;
    transition-duration: 0.5s;
}

.app_products .card button:hover {
    background: #f5f414;
}

.app_products .card button:active {
    background: #919012;
}

.app_products .card .button {
    display: flex;
    align-items: end;
}

.order {
    background: white;
    position: fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    font-family: "Inter", sans-serif;
    padding: 60px 150px;
    opacity: 0;
    transition-duration: 1s;
    z-index: 2;
}


.order.open {
    opacity: 1;
}
.order .icon span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
}
.order input{
    outline: 0;
    outline-offset: 0;
    border: none;
    font-size: 20px;
    padding: 10px 5px;
    width: 85%;
}

.order .input_order h2{
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

}

.order .input_order .hr{
    background: #B4D2FF;
    height: 2px;
    width: 90%;
    color: white;
    display: block;
    margin-right: 5px;
}

.order .input_order .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 10px;
    padding: 40px 0;

}

.order .input_order p{
    font-size: 24px;
    font-weight: 600;
}

.order .input_order p span{
    color: #ef4444;
}

.order .check_list{
    display: flex;
    justify-content: space-between;
    width:95%;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.order .check_list h3{
    margin-right: 15px;
}

.order .check_list label{
    display: flex;
    text-align: center;
    align-items: center;
}

.order .check_list input{
    height: 20px;
    width: 20px;
    border: 1px solid #B4D2FF;
    border-radius: 50%;
    stroke-width: 1.5px;
    stroke: #B4D2FF;
}

.order .button{
    text-align: center;
    margin-top: 60px;
}

.order button{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 40px;
    background: rgba(180, 210, 255, 0.75);
    border: none;
}
.order button:hover {
    background: #f5f414;
}
.order button:active {
    background: #919012;
}
.order .icon {
    position: absolute;
    top: 65px;
    left: 60px;
    text-align: left;

}
.order .icon span {
    font-size: 25px;
    text-align: left;
}

.order button:hover {
    background: #f5f414;
}
.order button:active {
    background: #919012;
}
.order .img_logo{
    display: none;
}
